@import './../../../styles/base/colors';
@import './../../../styles/utils/mixins';
@import './../../../styles/utils/breakpoints';

.input {
  position: relative;
  width: 100%;

  &__field {
    padding: 25px 30px;
    width: 100%;
    font-size: 22px;
    font-weight: normal;
    color: $color--violet;
    background-color: $color--white;
    border: solid 1px $color--violet;
    border-radius: 10px;

    @include md {
      font-size: 18px;
    }

    &:focus {
      border-color: $color--violet-darker;
      outline: none;
    }

    &::placeholder {
      opacity: 1;
      font-size: 22px;
      color: $color--violet;

      @include md {
        font-size: 18px;
      }
    }
  }

  &__label {
    &--hidden {
      @include visually-hidden;
    }
  }

  &__icon {
    position: absolute;
    top: calc(50% - 15px);
    left: 20px;
    width: 30px;
    height: 30px;

    svg {
      @include set-svg(30px, $color--violet);
    }
  }

  &--has-icon {
    .input__field {
      padding: 25px 30px 25px 65px;
    }
  }
}
