@import './../../../styles/base/colors';
@import './../../../styles/utils/mixins';
@import './../../../styles/utils/breakpoints';

.pop-up {
  position: fixed;
  top: 0;
  display: none;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &--active {
    z-index: 1;
    padding-top: 150px;
    display: block;
    background-color: rgba(0, 0, 0, .9);

    @include md {
      padding: 0;
      display: flex;
    }
  }

  &-wrapper {
    position: relative;
    width: 100%;

    @include md {
      width: auto;
    }
  }
}
