/* stylelint-disable declaration-no-important */
@import './../../styles/utils/mixins';
@import './../../styles/base/colors';

.form-add-todo {
  &__button {
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: $color--violet;
    border: 0;
    border-radius: 100%;
    cursor: pointer;

    svg {
      width: 20px !important;
      height: 20px !important;
      color: $color--white-darker;
    }
  }
}
