@import './../../../styles/utils/mixins';
@import './../../../styles/base/colors';
@import './../../../styles/utils/breakpoints';

.filter {
  margin: 0 0 20px;
  width: 100%;

  @include md {
    display: inline-flex;
    width: auto;
    justify-content: space-around;
    align-items: center;
  }

  &__item {
    + .filter__item {
      margin-top: 10px;

      @include md {
        margin-top: 0;
        margin-left: 10px;
      }
    }
  }

  &-button {
    padding: 20px 25px;
    width: 100%;
    font-size: 20px;
    color: $color--violet;
    background-color: $color--white-darker;
    border: 0;
    border-radius: 30px;
    transition: .5s;
    cursor: pointer;

    @include md {
      padding: 15px 25px;
      min-width: 150px;
      font-size: 16px;
    }

    &:hover,
    &:focus {
      background-color: $color--white-violet;
    }

    &--selected {
      font-weight: bold;
      color: $color--white-darker;
      background-color: $color--violet;

      &:hover,
      &:focus {
        background-color: $color--violet-darker;
      }
    }
  }
}
