$color--white: rgb(255, 255, 255);
$color--white-darker: rgb(245, 245, 245);
$color--white-violet: rgb(230, 230, 250);
$color--white-pink: rgb(240, 248, 255);

$color--black: rgb(0, 0, 0);
$color--black-ligher: rgb(36, 35, 35);

$color--violet: rgb(138, 43, 226);
$color--violet-lighter: rgb(146, 52, 235);
$color--violet-darker: rgb(129, 41, 211);
