@import './../base/colors';
@import './../base/variables';
@import './../utils/breakpoints';
@import './../utils/mixins';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
}

img {
  display: block;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button,
input[type='submit'] {
  font-family: $font--main;
}

body {
  font-family: $font--main;
  font-size: 16px;
  line-height: 1;
  color: $color--black;
  background-color: $color--white;
}
